body	{cursor:default; font-family:"Fira Sans",sans-serif; color:white;}
img   {display:none;}
span	{padding:0px 10px;}

#area	{border: solid 10px; border-color:teal; margin: 0px 20px 0px 200px; float:left; display:none;}
#controlsl{display:none; width:420px; margin:0px 240px;}
#controlsx{display:none; width:420px; margin:0px 240px;}
#fail	{background-color:crimson; font-size:200px; text-align:center; width:100%; height:100%; display:none; position:fixed; left:0px; top:0px; z-index:10;}
#info {float:left; width:150px; display:none; text-align:center; background-color:black;}
#lhealth{background-color:teal;}
#player{display:none; background-color:teal; width:110px; text-align:center; margin:10px auto;}
#start{background-color:teal; width:100px; text-align:center; margin:10px auto;}
#win	{background-color:teal; font-size:200px; text-align:center; width:100%; height:100%; display:none; position:fixed; left:0px; top:0px; z-index:10;}
#xhealth{background-color:crimson;}

.move	{background-color:teal; width:100px; float:left; text-align:center; margin:10px 20px;}
